{% extends "login_template.html" %}
{% block title %}G-P - personal{% endblock %}
{% block login_form %}
{% for checkbox in form.Context %}
{% endfor %}
<form class="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="text-center text-info">Personal info:</h3>
        <div class="form-group">
            <label for="avatar" class="text-info">Avatar:</label><br>
            {{ form.avatar}}
        </div>
        <div class="form-group">
            <label for="personal_info" class="text-info">Tell us about Yourself:</label><br>
            {{ form.personal_info}}
        </div>
        <div class="form-group">
            <br>
{# <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>#}
            <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
            <a href="{% url 'user:home-view' %}" class="btn btn-info btn-md" style="float: right">Skip</a>
        </div>
    </form>
{% endblock %}

