{% extends "00_main_looks/01_template.html" %}


{% block title%}
    G-P Group add event
{% endblock %}

{% block left_menu %}
    <br>
    <hr>
    <div class="text-center">

        <h3><a href="#">{{ group.name }}</a></h3>

    </div>
    <hr>
    <div class="text-center"><h4>Group members:</h4></div>
    <hr>
    {% if is_admin or is_extra == True %}
        <a href="#">
            <button class="btn btn-warning btn-md">Add friend to group</button>
        </a>
        <hr>
    {% endif %}
    {% for member in group_members %}
        <a class="list-group-item list-group-item-action" href="#">
            {{ member.user.username }} -
            {% if member.is_admin == 1 and member.is_extra_user == 0 %}
                Admin
            {% endif %}
            {% if member.is_admin == 1 and member.is_extra_user == 1 %}
                Admin
            {% endif %}
            {% if member.is_extra_user == 1 and member.is_admin == 0 %}
                Extra
            {% endif %}
            {% if member.is_admin == 0 and member.is_extra_user == 0 %}
                Normal
            {% endif %}
            {% if is_admin or is_extra == True %}
                {% if member.user != user %}
                    <a class="text-end" methods="POST" href="#">Update</a>
                {% endif %}
            {% endif %}
        </a>

    {% endfor %}
{% endblock %}

{% block content %}

    {% include "02_date_picker/date_picker.html" %}

{% endblock %}