{% extends "group_detail.html" %}


{% block content %}
    <br>
    <h3>{{ member.user.username }}</h3>
    <hr>
    {% if not member.is_admin == True %}
        <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" name="normal" class="btn btn-info" value="Make normal">
            <input type="submit" name="extra" class="btn btn-warning" value="Make extra">
            <input type="submit" name="delete" class="btn btn-danger float-end" value="Remove from group">
        </form>
    {% endif %}


{% endblock %}