{% extends "template.html" %}



{% block title%}
    Game-Pals Home
{% endblock %}


{% block left_menu %}
    <br>
    <hr>
    <div class="text-center"><h3>{{ user.username }}</h3></div>
    <hr>
    <img class="align-items-center" src="/images/{{ profile.avatar }}" alt="Avatar" class="avatar">
    <hr>
    <div class="text-center"><h4>Player games</h4></div>
    <hr>
    {% for game in games %}
    <a class="list-group-item list-group-item-action" href="fill-me-with-link!!!">
        {{ game.name }}<a class="text-end" methods="POST" href="/delete-games/{{ game.id }}">Delete</a>
    </a>

        {% empty %}
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user_add_games' %}">
                You dont play games? ;(<br>
                Pick some!!!
            </a>
    {% endfor %}
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user_add_games' %}">
                Add more games
            </a>

    {% if profile.personal_info %}
    <br>
    <div class="text-center"><h4>Player info</h4></div>
    <hr>
        <div class="text-break list-group-item list-group-item-action list-group-item-light p-3">
            {{ profile.personal_info }}
        </div>
    {% endif %}

{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>#}
{% endblock %}


{% block dropdown_menu %}
    <a class="dropdown-item" href="#!">Groups</a>
    <a class="dropdown-item" href="#!">Pals</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'user_search' %}">Search for Pal</a>
    <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>

{#    <div class="dropdown-divider"></div>#}
{#    <a class="dropdown-item" href="#!">Something else here</a>#}
{% endblock %}


{% block content %}
    <h2>Your invitations:</h2>
    {% for request in user_friend_requests %}
        <form method="post" action="">
        {% csrf_token %}
            <div class="form-group">
                <label for="first_name" class="list-group-item list-group-item-action">
                    {{ request.sender.username }}</label>
                <input type="hidden" id="request" name="request" value="{{ request.id }}">
                <input type="submit" name="answer" class="btn btn-info btn-md" value="Submit">
                <input type="submit" name="answer" class="btn btn-info btn-md" value="Decline">
            </div>
        </form>
        {% empty %}
        <br>
        <h2>You have no invitations</h2>
    {% endfor %}<br><br>

    <h2>Your sent requests:</h2>
    {% for send in user_sent_requests %}
        <form method="post" action="">
        {% csrf_token %}
            <div class="form-group">
                <label for="first_name" class="list-group-item list-group-item-action">
                    {{ send.receiver.username }}</label>
                <input type="hidden" id="request" name="request" value="{{ send.id }}">
                <input type="submit" name="answer" class="btn btn-info btn-md" value="Cancel">
            </div>
        </form>
        {% empty %}
        <br>
        <h2>You did not send any friend requests</h2>
    {% endfor %}

{% endblock %}