{% extends 'home.html' %}

{% block content %}

    {% for invitation in object_list %}
        {% if invitation.receiver.id != user.id %}
            <form action="{% url 'delete-friendship' invitation.id %}" method="POST">{% csrf_token %}
                <a class="list-group-item list-group-item-action" href="{% url 'user_search' %}{{ invitation.receiver.id }}">
                {{ invitation.receiver.username }} <input type="submit" value="Delete from Pals" class="btn-danger float-end">
                </a>
            </form>
        {% endif %}
        {% if invitation.sender.id != user.id %}
            <form action="{% url 'delete-friendship' invitation.id %}" method="POST">{% csrf_token %}
                <a class="list-group-item list-group-item-action" href="{% url 'user_search' %}{{ invitation.sender.id }}">
                {{ invitation.sender.username }} <input type="submit" value="Delete from Pals" class="btn-danger float-end">
                </a>
            </form>
        {% endif %}
    {% endfor %}

{% endblock %}