{% extends "template.html" %}



{% block title%}
    Group - details
{% endblock %}


{% block left_menu %}
    <br>
    <hr>
    <div class="text-center"><h3>{{ group.name }}</h3></div>
    <hr>
    <div class="text-center"><h4>Group members:</h4></div>
    <hr>
    {% for member in group_members %}
    <a class="list-group-item list-group-item-action" href="{% url 'user_details' member.user.id %}">
        {{ member.user.username }} -
        {% if member.is_admin == 1 and member.is_extra_user == 0 %}
                Admin
            {% endif %}
            {% if member.is_admin == 1 and member.is_extra_user == 1 %}
                Admin
            {% endif %}
            {% if member.is_extra_user == 1 and member.is_admin == 0 %}
                Extra
            {% endif %}
            {% if member.is_admin == 0 and member.is_extra_user == 0 %}
                Normal
            {% endif %}
    {% if is_admin or is_extra == True %}
        <a class="text-end" methods="POST" href="{% url 'update-member' group.id member.user.id %}">Update</a>
    {% endif %}
    </a>
    
    {% endfor %}


{% endblock %}


{#{% block dropdown_menu %}#}
{#{% endblock %}#}


{% block content %}

    Tu będzie miejsce na kalendarz grupowy<br><br><hr>
    To do:<br>
    *Widok dodawania znajomych do grupy<br>
    *Widok update'ujący i degradujący normal_user/extra<br>
    *Widok pozwalający usunąć user'a z grupy<br>
    *Przekierowanie na user_detail_view <--> dorobić w user detail view przekierwoanienie na user calendar, jeśli jest
    w znajomych
    {% include "add_comment/comment_section.html" %}
    <br>

{% endblock %}