{% extends "template.html" %}



{% block title%}
    TEST
{% endblock %}


{% block left_menu %}
    <br>
    <hr>
    <div class="text-center"><h3>{{ user.username }}</h3></div>
    <hr>
    <img class="align-items-center" src="/images/{{ profile.avatar }}" alt="Avatar" class="avatar">
    <hr>
    <div class="text-center"><h4>Player games</h4></div>
    <hr>
    {% for game in games %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="fill-me-with-link!!!">{{ game.name }}</a>
        {% empty %}
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="fill-me-with-link!!!">
                You dont play games? ;(<br>
                Pick some!!!
            </a>
    {% endfor %}

    {% if profile.personal_info %}
    <br>
    <div class="text-center"><h4>Player info</h4></div>
    <hr>
        <div class="text-break">{{ profile.personal_info }}</div>
    {% endif %}

{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>#}
{% endblock %}


{% block dropdown_menu %}
    <a class="dropdown-item" href="#!">Groups</a>
    <a class="dropdown-item" href="#!">Pals</a>
{#    <div class="dropdown-divider"></div>#}
{#    <a class="dropdown-item" href="#!">Something else here</a>#}
{% endblock %}


{% block content %}

    {% include "calendar/calendar.html" %}

{% endblock %}