{% extends "login_template.html" %}
{% block title %}Game Pals - login{% endblock %}

{% block login_form %}
    <form class="form" action="" method="post">
        {% csrf_token %}
        <h3 class="text-center text-info">Login</h3>
        <div class="form-group">
            <label for="username" class="text-info">Username:</label><br>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="password" class="text-info">Password:</label><br>
            {{ form.password }}
        </div>
        <div class="form-group">
            <br>
{# <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>#}
            <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
            <a href="{% url 'register' %}" class="btn btn-info btn-md" style="float: right">Register here</a>
        </div>
    </form>
{% endblock %}


{#<form action="" method="post">#}
{#    <ul class="contactList">#}
{#        <li id="subject" class="contact">{{ form.subject }}</li>#}
{#        <li id="email" class="contact">{{ form.email }}</li>#}
{#        <li id="message" class="contact">{{ form.message }}</li>#}
{#    </ul>#}
{#    <input type="submit" value="Submit">#}
{#</form>#}