{% extends "base.html" %}


{% block title%}
{#    TEST#}
{% endblock %}


{#{% block lef_corner %}{{ user.username }}{% endblock %}#}

{% block left_menu %}
    {{ user.username }}
    <hr>
    <img src="/images/{{ avatar }}" alt="Avatar" class="avatar">
    <hr>
    <h4>Your games:</h4>
    {% for game in user.games %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="fill-me-with-link!!!">{{ game.name }}</a>
        {% empty %}
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="fill-me-with-link!!!">
                You dont play games? ;(<br>
                Pick some!!!
            </a>
    {% endfor %}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>#}
{#    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>#}
{% endblock %}


{% block dropdown_menu %}
{#    <a class="dropdown-item" href="#!">Action</a>#}
{#    <a class="dropdown-item" href="#!">Another action</a>#}
{#    <div class="dropdown-divider"></div>#}
{#    <a class="dropdown-item" href="#!">Something else here</a>#}
{% endblock %}


{% block content %}
{#    <h1 class="mt-4">Simple Sidebar</h1>#}
{#    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>#}
{#    <p>#}
{#        Make sure to keep all page content within the#}
{#        <code>#page-content-wrapper</code>#}
{#        . The top navbar is optional, and just for demonstration. Just create an element with the#}
{#        <code>#sidebarToggle</code>#}
{#        ID which will toggle the menu when clicked.#}
{#    </p>#}
{% endblock %}