{% extends 'home.html' %}

{% block content %}
    <br>
    <img class="align-items-center" src="/images/{{ searched_user.profile.avatar }}"  height="300"
         alt="Avatar" class="avatar"><br>
    {{ searched_user.username }} <br><br>
    <form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" class="btn btn-warning btn-md" value="Add to friend">
    </form>
{#    Jeśli użytkownik nie jest w znajomych wyświetl add friend button<br>#}
{#    Jeśli jest w znajomych wyświetl detail view :)#}

{% endblock %}