    <br><br>
    <table class="table">
    <br>
    <h2>Comments:</h2>
    {% for comment in comments %}
        <tr>
            <th><img src="/images/{{ comment.user.profile.avatar }}" alt="Avatar" class="avatar" width="100" height="100"></th>
            <th class="text-lg-start">
                {{ comment.content }}<br>
                {{ comment.user.username }} - {{ comment.create_date|date:"Y-m-d H:m" }}
            </th>
        </tr>
        <tr>
            <th>
                {% if is_admin or is_extra == True %}
                    <form method="POST" action="{% url 'delete_event_comment' group.id event.id comment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="submit" name="delete" class="btn btn-warning btn-md" value="Delete Comment">
                    </form>
                {% endif %}
            </th>
            <th></th>
        </tr>
        {% empty %}
        <h3>There is no comments...</h3>
    {% endfor %}
    </table><br><br>
    <form method="POST", action="">
        {% csrf_token %}
        {{ form_comment }}
        <input type="submit" name="publish" class="btn btn-info btn-md" value="Publish">
    </form>
