{% extends "00_main_looks/00_base.html" %}


{% block title%}
Test
{% endblock %}


{% block lef_corner %}{{ USER.username }}{% endblock %}

{% block left_menu %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
{% endblock %}


{% block dropdown_menu %}
    {% comment %}
        <a class="dropdown-item" href="{% url 'user_groups' %}">Groups</a>
        <a class="dropdown-item" href="{% url 'user_pals' %}">Pals</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'user_search' %}">Search for Pal</a>
        <a class="dropdown-item" href="{% url 'create_group' %}">Create Group</a>
        <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>
    {% endcomment %}
{% endblock %}


{% block content %}
    <h1 class="mt-4">Simple Sidebar</h1>#}
    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed
        on larger screens. When toggled using the button below, the menu will change.</p>
    <p>
    Make sure to keep all page content within the
    <code>#page-content-wrapper</code>
    . The top navbar is optional, and just for demonstration. Just create an element with the
    <code>#sidebarToggle</code>#}
    ID which will toggle the menu when clicked.
    </p>
{% endblock %}