{% extends '00_main_looks/user-home.html' %}

{% block content %}
    <br>
    <img class="align-items-center" src="/images/{{ searched_user.profile.avatar }}"  height="300"
         alt="Avatar" class="avatar"><br>
    {{ searched_user.username }} <br><br>
    {{ searched_user.profile.personal_info }}<br><br>
    User games:<br>
    <ul>
    {% for game in user_games %}
        <li>{{ game.game.name }}</li>
    {% endfor %}
    </ul>

    {% if searched_user.profile not in friends_list %}
        {% if not user_sender %}
            {% if not user_receiver %}
                    <form method="POST" action="">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" name="submit" class="btn btn-warning btn-md" value="Add to friend">
                    </form>
            {% endif %}
        {% endif %}
    {% endif %}

{#    Jeśli użytkownik nie jest w znajomych wyświetl add friend button<br>#}
{#    Jeśli jest w znajomych wyświetl detail view :)#}

{% endblock %}

{% comment %}
    {% if searched_user.profile not in friends_list %}
        {% if user_invitation not in user_invitations %}
            {% if receiver_invitation not in receiver_invitations %}
                {% if PROFILE != searched_user.profile %}
                    <form method="POST" action="">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" name="submit" class="btn btn-warning btn-md" value="Add to friend">
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endcomment %}