{% extends '00_main_looks/01_template.html' %}

{% block content %}

    {% for invitation in object_list %}
        {% if invitation.receiver_id != user.profile.id %}
            <form action="{% url 'society:delete_friendship' invitation.id %}" method="POST">
                {% csrf_token %}
                    <a class="list-group-item list-group-item-action" href="{% url 'society:user_details' invitation.receiver.user.id %}">
                    {{ invitation.receiver.user.username }} <input type="submit" value="Delete from Pals" class="btn-danger float-end">
                </a>
            </form>
        {% endif %}
        {% if invitation.sender_id != user.profile.id %}
            <form action="{% url 'society:delete_friendship' invitation.id %}" method="POST">
                {% csrf_token %}
                    <a class="list-group-item list-group-item-action" href="{% url 'society:user_details' invitation.sender.user.id %}">
                    {{ invitation.sender.user.username }} <input type="submit" value="Delete from Pals" class="btn-danger float-end">
                </a>
            </form>
        {% endif %}
    {% endfor %}

{% endblock %}
